<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Some website</title>
</head>
<body>
{{> header}}
{{> nav}}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae a sapiente sed, earum architecto amet, voluptatum iure ea soluta necessitatibus ut? Aperiam dicta deserunt officia nihil quis vero odio magni!</p>
{{> footer}}
</body>
</html>
